name: CI
on: 
  push:
    branches:
      - "main"

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v2

            - name: Set up devops-challenges-answers deploy key
              uses: webfactory/ssh-agent@v0.5.3
              with:
                  ssh-private-key: ${{ secrets.ANSWERS_DEPLOY_KEY }}

            - name: Run test suite
              run: make test
